kyverno:
  crd:
    migration:
      enabled: false
  cleanupController:
    rbac:
      clusterRole:
        extraResources:
          - apiGroups:
              - ""
            resources:
              - pods
            verbs:
              - get
              - list
              - watch
              - delete