argo-cd:  
  global:
    domain: argo.roussev.com

  configs:
    params:
      server.insecure: "true"

  controller:
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        memory: 1Gi

  repoServer:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi

  redis:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        memory: 128Mi

  server:
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/backend-protocol: HTTP
      hostname: argo.roussev.com
      path: /
      pathType: Prefix
      tls: true
    
    certificate:
      enabled: true
      domain: argo.roussev.com
      issuer:
        kind: ClusterIssuer
        name: letsencrypt-prod